
<div id="multiselect-sample" class="control-section">
    <div class="col-lg-8 content-wrapper">
        <div class="control-styles">
            <h4>CheckBox</h4>
            <ejs-multiselect id='multiselect-checkbox' #checkbox [dataSource]='countries' [placeholder]='checkWaterMark' [fields]='checkFields'
                [mode]='mode' [popupHeight]='popHeight' [showDropDownIcon]='true' showSelectAll='true' [filterBarPlaceholder]='filterPlaceholder'></ejs-multiselect>
        </div>
    </div>
    <div class="col-lg-4 property-section">
        <div class="property-panel-section">
            <div class="property-panel-header">Properties</div>
            <div class="property-panel-content">
                <table id="property" class="property-panel-table" title="Properties">
                    <tr>
                        <td style="width: 50%;">
                            <div>
                                <ejs-checkbox #selectall label="Show Select All" [checked]="true" (change)="onChange()"></ejs-checkbox>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 50%;">
                            <div>
                                <ejs-checkbox #dropdown label="Dropdown Button" [checked]="true" (change)="onChangeDrop()"></ejs-checkbox>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 50%;">
                            <div>
                                <ejs-checkbox #select label="Selection Reorder" [checked]="true" (change)="onChangeReorder()"></ejs-checkbox>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

